.c-section__title {
  width: 85vw;
  height: 60px;
  background-color: #24262a;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  box-shadow: 0px -12px rgb(129, 129, 129);
}

.c-services {
  width: 85vw;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 40px auto;
  padding: 0;
}

.c-services__item {
  width: 40vw;
  height: 200px;
  margin: 5px;
  background-color: #f7f5f7;
}

.c-services__item:hover {
  box-shadow: 0px 15px 20px -20px rgb(129, 129, 129);
}

.c-services__item h3 {
  margin-top: 35px;
  margin-left: 50px;
}

.c-services__item p {
  margin: 0 15px;
}
